<h1>Hello from index.html!</h1>

<a href="/demo/hello_world"> Html page 1</a><br>
<%=link_to('Html page 2',{:action => 'hello_world'}) %><br>

<%= link_to('Hello with parameters',{:action => 'hello_world', :page => 5, :id => 20}) %><br>
